
/*CSS DE EL NAV */

.navPrincipal {     
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 5px;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}





/*CSS DE EL EL BODY Y EL FOLIO */

body{
    margin: 0;
    background-image: url(Imagenes/Saber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    backdrop-filter: blur(2px);
    
}

#folio1{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 70px 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 100, 10);
    color: rgb(219, 219, 219);
    margin-top: 400px;
    margin-left: 300px;
    font-size: 26.4px;

    font-family: "Playfair Display", serif;
    font-style: normal;
    box-sizing: border-box;
}

#folio1 h1{
    font-size: 45px;
}

#FATE {
    text-align: center;
}








/*CSS DE LA IMAGEN LOGO DEL NAV */

#ImagenPrincipal{
    width: 250px;
    margin-top: 5px;
    margin-left: 20px;
}













/*CSS GLOBAL DEL MAIN */

main{
    display: grid;
    
}












/*CSS DE LAS PALABRAS DEL NAV */

nav a{
text-decoration: none;
font-size: 40px;
color: white;
font-family: "Playfair Display", serif;
font-style: normal;
transition: color 0.3s;
}


#Enlace1:hover{
    color: rgb(130, 62, 156);

}

#Enlace2{
    margin-right: 250px;
}

#Enlace2:hover{
    color: rgb(130, 62, 156);
}


#Enlace3:hover{
    color: rgb(130, 62, 156);
}


#Enlace2::before{
    content: "◂";
}

#Enlace2::after{
    content: "▸";
}

#Enlace1::before{
    content: "◂";
}

#Enlace1::after{
    content: "▸";
}

#Enlace3::before{
    content: "◂";
}

#Enlace3::after{
    content: "▸";
}



/*CSS DE EL ASIDE */

#PELICULAS{
    position: fixed;         
    /*Float: right*/
    margin-top: 400px;
    margin-right: 150px;
    padding: 50px; 
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 100, 0.6);
    z-index: auto;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-style: normal;
    box-sizing: border-box;
}

#PELICULAS img{
    width: 190PX;
}










/*CSS DE EL SECTION DE EL FORMULARIO */

#sectionformulario{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 70px 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 100, 10);
    color: rgb(219, 219, 219);
    font-size: 27px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    box-sizing: border-box;
    margin-top: 130px;
    margin-left: 300px;
    margin-right: 570px;
}

#sectionformulario h1{
    font-size: 45px;
}

#formulario{
    text-align: center;
}

/*PIE DE PAGINA*/

#PiePagina{
    background-image: url(Imagenes/Ilustración\ De\ Guerreros.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 90px;
    padding: 50px;
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    box-sizing: border-box;
    background-position: center;
    height: 130px;
}

/*COLUMNAS*/

[class="SectionPrincipal"]{
    display: grid;
    grid-template-columns: 70% 10% 20%;
}

/*VIDEOS*/

#Videos{
    margin-left: 147px;
    border-color: rgb(120, 71, 134);
    border-width:3px;
}

/*TABLA*/

td{
    border: 1px solid rgb(150, 149, 149);
    padding: 5px;
    text-align: center;
    border-color: rgba(255, 0, 0, 0.5);
}

th{
    border: 1px solid rgb(150, 149, 149);
    padding: 5px;
    text-align: center;
    border-color: rgba(255, 0, 0, 0.5);
}

tr:nth-child(odd){
    background-color: rgba(54, 30, 85, 0.5);
}

tr:nth-child(even){
    background-color: rgba(89, 66, 116, 0.5);
}

/*GIF DE PADORU*/

#Padoruu{
margin-left:353px;
width: 155px;
float: center;
}