
#navPrincipal {
    position: fixed;
    top: 0;
}

body{
    background-color: rgb(17, 17, 80);
}

#folio1{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 100, 10);
    color: rgb(219, 219, 219);
}

#ImagenPrincipal{
    width: 250px;
    align-items: first baseline;
}

#Enlace1{
    text-decoration: none;
}

#Enlace2{
    text-decoration: none;
}