
#navPrincipal {
    top: 0;
    background: rgba(0, 0, 0, 0.8);



}

body{
    margin: 0;
    background-image: url(Imagenes/Saber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    backdrop-filter: blur(2px);
    
}

#folio1{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 100, 10);
    color: rgb(219, 219, 219);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 250px;
}

#ImagenPrincipal{
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    
}

#saberalter{
    width: 70px;
}

main{
    display: grid;
}

nav a{
text-align: center;
text-decoration: none;
font-size: 40px;
}